<?php
// 第一チューナーの各放送波の論理チューナ数 (地上波･衛星波で共用)
// 例: PT3 が一枚なら 2
define( "TUNER_UNIT1", 0 );

// 上記以外の論理チューナ数(未使用)
define( "TUNER_UNIT2", 0 );


//
// PT1/2/3 キャラクタデバイス版ドライバー使用時に変更すること
//

// recpt1使用時はTRUEにすること
define( "USE_RECPT1", FALSE );

// recpt1 EPG単独出力パッチ使用時はTRUE
define( "RECPT1_EPG_PATCH", FALSE );


//
// PTシリーズ以外のチューナーの個別設定(チューナー数に応じて増やすこと)
//
$OTHER_TUNERS_CHARA = array(
	// 地デジ
	'GR' => array(
		0 => array(
			'epgTs' => FALSE,  // EPG用TS出力パッチ使用時はTRUE
			'cntrl' => FALSE,  // recpt1ctl対応パッチ使用時はTRUE
			'httpS' => FALSE,  // httpサーバー機能対応時はTRUE
		),
		1 => array(
			'epgTs' => FALSE,
			'cntrl' => FALSE,
			'httpS' => FALSE,
		),
	),
	// 衛星(BS/CS)
	'BS' => array(
		0 => array(
			'epgTs' => FALSE,
			'cntrl' => FALSE,
			'httpS' => FALSE,
		),
		1 => array(
			'epgTs' => FALSE,
			'cntrl' => FALSE,
			'httpS' => FALSE,
		),
	)
);


//
// スカパー！プレミアム（対応中、ただしハードが無いのでデバッグ不可能）
//

// チューナー数
define( 'EXTRA_TUNERS', 0 );

// 放送波名
define( 'EXTRA_NAME', 'スカパー！プレミアム' );

// EPG受信時間
define( 'EX_EPG_TIME', 240 );

// EPG受信Ch
define( 'EX_EPG_CHANNEL', 'CS15_0' );

// チューナー設定
$EX_TUNERS_CHARA = array(
	0 => array(
		'epgTs' => FALSE,	// EPG用TS出力パッチ使用時はTRUE
		'cntrl' => FALSE,	// recpt1ctl対応パッチ使用時はTRUE
		'httpS' => FALSE,	// httpサーバー機能対応時はTRUE
	),
	1 => array(
		'epgTs' => FALSE,
		'cntrl' => FALSE,
		'httpS' => FALSE,
	),
);
?>
